* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Buttons */

.btn-primary {
    background-color: #0099ff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #0099ff;
    outline: none;
    transition: 1s;
}

/* variables */

:root {
    --first-color: #2e2e2e;
    --second-color: #9f9f9f;
    --three-color: #0099ff;
    --for-color: #1a1a1a;
}

.container {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
/* Header */

.header {
    min-height: 60px;
    background-color: var(--first-color);
}

.top__bar-left {
    color: var(--second-color);
    font-size: .8rem;
}

.borber-left {
    border-left: 1px solid #9f9f9f;
    padding: 0;
    margin: 8px 0 8px 0;
    font-size: .8rem;
}

.br-1 {
    border-right: 1px solid #9f9f9f;
    padding-right: 5px;
    margin-right: 5px;
}

.button-btn {
    cursor: pointer;
    right: 0;
    top: 60px;
    font-size: 15px;
}

.button-btn:hover {
    cursor: pointer;
}

.icons__border {
    display: flex;
}

.icons__radius-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #787878;
    margin-left: 5px;
}

@media screen and (max-width: 305px) {
    .icons__radius-bg {
        width: 30px;
        height: 30px;
    }
}

.icons-hover-linkeding:hover {
    background-color: #0099ff;
}

.icons-hover-twitter:hover {
    background-color: #0099ff;
}

.icons-hover-pinteres:hover {
    background-color: #c8232c;
}

.icons-hover-google:hover {
    background-color: #db4a39;
}

.icons-hover-rss:hover {
    background-color: #ee802f;
}

/* Nav bar menu links */

.nav_bar {
    border-bottom: 5px solid #f1f1f1;
    padding: 40px 0 20px;
}

.menu__liks {
    padding-bottom: 22px;
    margin-right: 15px;
}

.menu__liks:hover {
    border-bottom: 5px solid #0099ff;
    color: #9f9f9f;
}

@media screen and (max-width: 862px) {
    .menu__liks {
        font-size: 12px;
    }
}

/* Nav body */

.nav__body-mb {
    border-bottom: 5px solid #e9e9e9;
}

.nav__body>p {
    font-size: 13px;
    color: #9f9f9f;
}

.nav__input {
    margin-right: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 5px 80px 5px 7px;
    outline: none;
    font-size: 15px;
    border: none;
}

.nav__button {
    outline: none;
    border: 1px solid #0099ff;
}

.nav__button:hover {
    background-color: #fff;
    color: #0099ff;
    outline: none;
    transition: 1s;
}

.nav__body-block {
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    .nav__body-block {
        left: 0;
    }
}

/* Slider */

.slider {
    background-color: #f1f1f1;
    padding: 10px 0 10px;
    border-bottom: 10px solid #e9e9e9;
}

.slider__image-img {
    max-width: 550px;
    min-height: 440px;
}

.itms {
    width: 16px;
    height: 15px;
    background-color: #000000;
    border: 3px solid #000;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.itms:hover {
    background-color: #f1f1f1;
}

.itms_o {
    background-color: #f1f1f1;
}

.img-overlay__block {
    bottom: 10px;
}

.slider__text {
    display: block;
}

@media screen and (max-width: 700px) {
    .slider__text {
        font-size: 15px;
    }
    .slider__text>h1 {
        font-size: 20px;
    }
}

/* Body intro */

.intro {
    padding-top: 40px;
}

.intro_left {
    min-height: 430px;
}

.intro__right {
    text-align: center;
}

.intro__right__imgs {
    font-size: 12px;
    padding: 0 10px 20px;
}

.intro__right-img {
    font-size: 15px;
    padding: 20px 0 20px;
    color: var(--three-color);
}

.intro__sut-block {
    height: 150px;
    width: 100%;
    padding: 0 10px 0 10px;
    background-color: #e0e0e0;
    border-left: 10px solid #0099ff;
}

.shut_block-btn {
    font-size: 26px;
    margin-right: 30px;
}

.shut_block-text>h3 {
    font-size: 30px;
    font-weight: 400px;
}

.shut_block-text {
    display: block;
}

@media screen and (max-width: 990px) {
    .shut_block-text {
        font-size: 15px;
    }
    .shut_block-text>h3 {
        font-size: 20px;
    }
    .shut_block-btn {
        font-size: 15px;
    }
}

@media screen and (max-width: 525px) {
    .shut_block-text {
        font-size: 10px;
    }
    .shut_block-text>h3 {
        font-size: 12px;
    }
    .shut_block-btn {
        font-size: 10px;
    }
}

/* Footer */

.footer {
    border-top: 3px solid #000;
    background-color: var(--for-color);
    padding-bottom: 40px;
}

.about_us {
    padding-top: 40px;
}

.about_us>h5 {
    color: #fff;
    font-size: 15px;
    padding-bottom: 10px;
}

.about_us>p {
    padding-top: 20px;
    font-size: 12px;
    color: #666666;
}

.footer__links {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
}

.footer__links>a {
    color: #0099ff;
}

.footer__quick {
    padding-top: 40px;
}

.footer__quick>h5 {
    color: #fff;
    font-size: 15px;
    padding-bottom: 10px;
}

.footer__links-a {
    color: #0099ff;
    border-bottom: 1px solid #232323;
    font-size: 12px;
    margin-bottom: 5px;
}

.footer__links-b {
    color: #0099ff;
    font-size: 12px;
}

.footer__blog {
    padding-top: 40px;
}

.footer__blog>h5 {
    color: #f1f1f1;
    padding-bottom: 10px;
    font-size: 15px;
}

.footer__blog>div>h5 {
    color: #666666;
}

.footer__blog>div>p {
    font-size: 10px;
    color: #666666;
}

.footer__contact {
    padding-top: 40px;
}

.footer__contact>h5 {
    color: #f1f1f1;
    font-size: 15px;
    padding-bottom: 10px;
}

.footer__contact-inputs>input {
    padding: 15px 20px;
    margin-bottom: 10px;
    width: 225px;
    border: none;
    border-radius: 10px;
    color: #989898;
    background-color: #232323;
    outline: none;
    font-size: 15px;
}

.footer__contact-inputs>textarea {
    padding: 15px;
    height: 110px;
    width: 225px;
    margin-bottom: 10px;
    color: #666666;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: #232323;
    outline: none;
    resize: none;
}

.footer__twho {
    background-color: #222222;
}

.footer__twho-div {
    font-size: 15px;
    color: #666666;
}

.footer__twho-div-2 {
    text-align: end;
}

@media screen and (max-width: 768px) {
    .footer__twho-div {
        font-size: 12px;
    }
}

@media screen and (max-width: 356px) {
    .footer__twho-div {
        font-size: 10px;
    }
}